
/* @import url("https://fonts.googleapis.com/css?family=Muli&display=swap"); */

/* * {
    box-sizing: border-box;
  }
  
  body {
    /* background-image: linear-gradient(45deg, #7175da, #9790f2); */
  }
  
  /* .courses-container {
    float: left;
  }
   */ 
  /* .course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 560px;
    height: 230px;
  } */
  
  /* .course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1p */